/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #D7DEE4;
    padding: 0;
}

/* Navbar styling */
.top_nav
{
    background-image: url(images/main.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}
.navbar {
    background: transparent;
    display: flex;
    padding: 10px 34px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 10vh;
}

.logo img {
    width: 70px;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    color: white;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 5px;
    position: relative;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    position: relative;
    border: 2px solid white; /* Added border */
    border-radius: 25px; /* Added border radius */
    transition: all 0.3s ease;
    font-size: 10px;
    text-transform:uppercase;
}

.nav-links li a:hover {
    color: #4169E1;
    position: relative;
    border-color: #4169E1; /* Change border color on hover */
}

.nav-links li a:hover::before {
    content: attr(data-text);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #043353;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li a:hover::before {
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
   
    min-width: 160px;
    z-index: 1;
    border-radius: 20px;
    padding: 10%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin: 5%;
    
}

.dropdown-content a:hover {
    background-color: #4169e14a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {

    .top_nav
{
    background-image: url(images/phone\ main.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height:70vh;
    z-index: -1;
}
    
    .nav-toggle {
        display: block;
    }

    .navbar {
        position: relative;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 100%;
        background-color: #043353;
        padding-top: 20px;
        z-index: 999;
        opacity: 90%;
        left: 0%;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        transition: .4s ease-in-out;
        border: 1px solid white; /* Adjust border size for smaller screens */
        border-radius: 20px; /* Adjust border radius for smaller screens */
    }

    .nav-links li a:hover {
        color: white;
    }

    /* Dropdown styles */
    .dropdown-content {
        
        border-radius: 20px;
        padding: 0%;
    }

    .dropdown-content {
        position: static;
        display: none;
        background-color: #043353;
        width: 100%;
        opacity: 90%;
        margin: 0;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        width: 50px;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
    }
}


/* Topper Image section */


.topper-section img {
    width: 100%;
    height: 90vh;

    

}

.topper-content {
    position: absolute;
    top: 30%;

    transform: translate(100%, -50%);
    color: #040c53;
    text-align: center;
    width: 50%;
}

.topper-content h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
    
}

.topper-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.topper-content1  {
    position: absolute;
    top: 0%;
}
.topper-content1 img{
    width: 200px;
    height: 200px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4169E1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #043353;
}
@media screen and (max-width: 768px) {
    .topper-content {
        top: 0%;
        left: 0%;
        width: 80%;
        scale: 0.5;
        transform: translate(-30%, -25%);
    }

    .topper-content h1 {
        font-size: 1.5em;
    }

    .topper-content p {
        font-size: 0.5em;
    }
    .topper-section {
        position: relative;
        width: 0%;
        height: 0vh;
        overflow: hidden;
        background-color: white;
        
    }
    
    .topper-section img {
        width: 100%;
        height: 100%;

    }
}

/* services */
.services-container {
    
    padding: 40px;
    width: 100%;
    
    background-color: #EBEBEF;
}

.services-container h2 {
    color: #191919;
    margin-bottom: 20px;
    text-align: start;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.services-container h2 {
    color: #333;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.service-card {
    width: 250px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid #0433532e;
    
}

.service-card img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin-bottom: 15px;
    object-fit: fill;
    
}

.service-card h3 {
    color: #3C3633;
    font-size: 18px;
    margin-bottom: 10px;
}

.service-card p {
    color: #747264;
    font-size: 14px;
}
.service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    bottom: 10%;
    transform: translateY(10px);
}

.btn-primary {
    background-color: #4F46E5;
    color: white;
}

.btn-primary:hover {
    background-color: #4338CA;
}

@media (max-width: 768px) {
    .service-card {
        width: calc(50% - 40px);
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .service-card {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}


@media (max-width: 320px) {
    .service-card h3 {
        font-size: 16px;
    }

    .service-card p {
        font-size: 12px;
    }
}

/* review */
.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial-card {
    flex: 0 1 calc(33.33% - 40px); /* Adjust width to fit three cards in one row with margins */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .testimonial-card:hover {
    transform: translateY(-5px); /* Add hover animation */
  }
  
  .testimonial-header {
    margin-bottom: 10px;
  }
  
  .testimonial-name {
    font-weight: bold;
  }
  
  .testimonial-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .testimonial-details {
    font-size: 14px;
    color: #666;
  }
  
  .testimonial-rating {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .arrow {
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .arrow:hover {
    background-color: #0056b3;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .testimonial-card {
      flex: 0 1 calc(50% - 40px); /* Adjust width to fit two cards in one row with margins */
    }
  }
  
  @media (max-width: 480px) {
    .testimonial-card {
      flex: 0 1 calc(100% - 40px); /* Adjust width to fit one card in one row with margins */
    }
  }
  
  
  
/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .topper-content {
        top: 0%;
        left: 0%;
        width: 80%;
        scale: 0.5;
        transform: translate(-30%, -25%);
    }

    .topper-content h1 {
        font-size: 1.5em;
    }

    .topper-content p {
        font-size: 0.5em;
    }
}


/* Style for the footer */
.footer {
    background-color: #043353;
    color: #fff;
    padding: 30px 0;
    text-transform:uppercase
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 100px; /* Adjust the width of the logo */
}
.footer-content p {
  font-size: 13px; /* Change the font size to your desired value */
}
.footer-links,
.contact-info {
    flex: 0 0 200px;
    margin-bottom: 20px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}
.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 40px; /* Adjust the size of social media icons as needed */
    height: auto;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.contact-info h4 {
    margin-bottom: 10px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    
}

.footer-copyright {
    margin: 10px;
}
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-social-media {
        margin-top: 20px;
    }

    .footer-social-media .social-icon {
        margin-right: 15px;
    }
}
.photos{
    display: flex;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .post img{
    height: 100%;
    width: 100%;
  }
  @media (max-width: 768px) {
    .post img{
        height: 300px;
        width: device-width;
      }
}
.teach{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.teach img{
    height: 50%;
    width: 50%;
    left: 50%;
    transform: translateX(50%);
  }
  @media (max-width: 768px) {
    .post img{
        height: 300px;
        width: device-width;
      }
}

/* inside */
.inside-container {
    
    padding: 40px;
    width: 100%;
    
    background-color: #EBEBEF;
}

.inside-container h2 {
    color: #191919;
    margin-bottom: 20px;
    text-align: start;
}

.inside {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.inside-container h2 {
    color: #333;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.inside-card {
    width: 250px;
    margin: 20px;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    border: 2px solid #0433532e;
    
}

.inside-card img {
    width: 100%;
    max-width: 200px;
    height: 180px;
    margin-bottom: 15px;
    object-fit: fill;
    
}

.inside-card h3 {
    color: #3C3633;
    font-size: 18px;
    margin-bottom: 10px;
}

.inside-card p {
    color: #747264;
    font-size: 14px;
    text-align: justify;
}
.inside-card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.btn {
    padding: 8px 16px;
    border-radius: 4px;
    bottom: 10%;
    transform: translateY(10px);
}

.btn-primary {
    background-color: #4F46E5;
    color: white;
}

.btn-primary:hover {
    background-color: #4338CA;
}

@media (max-width: 768px) {
    .inside-card {
        width: calc(50% - 40px);
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .inside-card {
        width: calc(100% - 40px);
        max-width: 100%;
    }
}


@media (max-width: 320px) {
    .inside-card h3 {
        font-size: 16px;
    }

    .service-card p {
        font-size: 12px;
    }
}



.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 80%;
    text-align: justify;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Media query for tablets and smaller screens */
  @media (max-width: 768px) {
    .popup-content {
      max-width: 90%;
      padding: 15px;
    }
  
    .close-btn {
      top: 5px;
      right: 5px;
      padding: 5px;
    }
  }
  
  /* Media query for phones and smaller screens */
  @media (max-width: 480px) {
    .popup-content {
      max-width: 95%;
      padding: 10px;
    }
  
    .close-btn {
      top: 5px;
      right: 5px;
      padding: 5px;
    }
  }
  